@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.webcast-regions-links-container {

  .webcast-regions-links:hover {
    text-decoration: none;
    opacity: .6;
  }

  .webcast-regions-links:not(:first-child) {
    margin-left: 40px;

    @media screen and (max-width: $screen-md-min) {
      margin-left: 0;
      margin-top: 20px;
    }

  }

  @media screen and (max-width: $screen-md-min) {
    flex-direction: column;
  }

}

.webcast-header {
  background: linear-gradient(to right, $purple-section-gradient-from, $purple-section-gradient-to 100%);
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 168px;
    margin-right: 100px;

    @media screen and (max-width: $screen-md-min) {
      margin-right: 0;
      margin: auto;
      margin-bottom: 40px;
    }

  }

  .webcast-info {
    text-align: center;
    color: $color-white;

    h1 {
      margin-top: 0;
    }

    p {
      font-size: 20px;
    }

  }

  @media screen and (max-width: $screen-md-min) {
    flex-direction: column;
  }


}

.author-headshot {
  height: 180px;
  width: 180px;
  border-radius: $border-radius-circle;
  background-color: $color-gray-extra-light-alt;
  margin-top: 40px;
  margin-bottom: 10px;
}

.gary-gruver {
  background: url("/images/webcast/gary-gruver.jpg") center center no-repeat;
  background-size: cover;
}

.author-info {

  .author-name {
    font-weight: 600;
  }

  a {
    margin-left: 6px;
  }

}

.author-description {
  margin-top: 20px;
}
